## .NET
bin/
obj/
*.user
*.suo
.vs/
*.swp

## Logs
Logs/
*.log

## dotnet secrets
secrets.json
appsettings.*.json
!appsettings.json
!appsettings.Development.json
!appsettings.Production.json

## Docker
.env

## JetBrains
.idea/
*.DotSettings.user

## macOS
.DS_Store
